id,sequence,callType,ownerNumber,callingNumber,calledNumber,cdrTimeBeforeRinging,cdrRingingTimeBeforeAnsw,duration,cause,causeString,callReleasingSide,startTime,endTime,inTrunkId,inTrunkGroupId,outTrunkId,outTrunkGroupId,inTrunkGroupName,outTrunkGroupName,nodeId,timestamp
